name: waterapp
description: "A new Flutter project."

publish_to: 'none'


version: 1.0.0+1

environment:
  sdk: ^3.5.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  get: ^4.6.6
  liquid_progress_indicator_v2: ^0.5.0
  flutter_bluetooth_serial:
     git:
      url: https://github.com/arvind-2000/flutter_bluetooth_serial.git
      ref: 7f66073872f609056666615c1db3b06e34fb8b6c

  permission_handler: ^11.3.1
  scoped_model: ^2.0.0
  lottie: ^3.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/
